<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<!--
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
-->
<dom-module id="padre-app">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Yo soy tu padre</h1>
    <login-usuario id="lg" on-login="procesarLogin" hidden$="{{estoylogado}}"></login-usuario>
    <visor-cuentas id="vs" hidden$="{{!estoylogado}}"></visor-cuentas>
<!--
    <emisor-app id="emisor" on-mievento="procesar"></emisor-app>
    <receptor-app id="receptor"></receptor-app>
-->
  </template>

  <script>
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado: { type: Boolean, value: false }
        };
      }
      procesar(e) {
        console.log("El componente web LoginUsuario me ha dicho algo")
        console.log(e)
        this.$.receptor.mostrarDatos(e.detail)
      }
      procesarLogin(e) {
        var id = e.detail.id
        this.$.vs.obtenerCuentas(id)
        this.estoylogado = true
      }
    }
    window.customElements.define(PadreApp.is, PadreApp);
  </script>

</dom-module>
